# Fill this file with real credential, and then remove the ".example" file extension 

# Mercado Pago API credentials
# Get your access token at: https://www.mercadopago.com.br/developers/panel/app
MERCADO_PAGO_ACCESS_TOKEN=
